body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  #timeZones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .timeZone {
    display: flex; /* Add flex display to the time zone elements */
    flex-direction: column; /* Stack text and time vertically */
    justify-content: flex-start; /* Align text and time to the right */
    align-items: flex-end; /* Align text and time to the right */
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-size: 20px;
  }
  
  .timeZone h2 {
    margin-top: 0;
  }
  
  /* Background colors for time zones */
  .timeZone:nth-child(odd) {
    background-color: #e6f7ff;
  }
  
  .timeZone:nth-child(even) {
    background-color: #fff3ed;
  }

  .timezone-image0 {
    position: absolute; /* Add position absolute to the image */
    top: 10px; /* Adjust the positioning based on your preference */
    right: 10px; /* Adjust the positioning based on your preference */
    width: 100px;
    height: 100px;
  }
  
  .timezone-image1 {
    position: absolute; /* Add position absolute to the image */
    top: 200px; /* Adjust the positioning based on your preference */
    right: 10px; /* Adjust the positioning based on your preference */
    width: 100px;
    height: 100px;
  }
  
  .timezone-image2 {
    position: absolute; /* Add position absolute to the image */
    top: 400px; /* Adjust the positioning based on your preference */
    right: 10px; /* Adjust the positioning based on your preference */
    width: 100px;
    height: 100px;
  }
  
  .timezone-image3 {
    position: absolute; /* Add position absolute to the image */
    top: 600px; /* Adjust the positioning based on your preference */
    right: 10px; /* Adjust the positioning based on your preference */
    width: 100px;
    height: 100px;
  }
  